{% extends "layout.html" %}
{% block content %}

<div class="biography">
    <article class="biography-text">
        <h1>Hi, I'm Henry Booth.</h1>
        <div id="circle" class="profile-picture-container center-profile-img">
           <img src="../static/img/avatar.jfif" alt="profile-picture"></a>
        </div>
        <p>
            Welcome to my personal website. Here, you can find out information about my skills, work history and qualifications.
        </p>
         <p>
            I'm currently searching for a job upon graduation. Please contact me with any vacancies and I will be happy to get back to you.
        </p>
    </article>
</div>
<div class="go-to-buttons">
    <container class="forward-links">
        <button class="contact portfolio_button">
            <a class="portfolio_button" href="/home">View Blog ></a>
        </button>
    </container>
</div>


{% endblock content %}